* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 1em 0em;
}

body {
    padding: 1em;
}

canvas {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50vh;
}
